{extend name="base"/}
{block name="resources"}
{/block}
{block name="body"}
<div class="nc-table-box">
    <table id="member_coupon_list" lay-filter="member_coupon_list"></table>
</div>
<!--获取方式-->
<script type="text/html" id="get_type">
    {{# if(d.get_type == 1){ }}
    <div class="layui-elip">订单领取</div>
    {{# }else if(d.get_type == 2){ }}
    <div class="layui-elip">直接领取</div>
    {{# }else if(d.get_type == 3){ }}
    <div class="layui-elip">获取领取</div>
    {{# }else if(d.get_type == 4){ }}
    <div class="layui-elip">转赠</div>
    {{# }else if(d.get_type == 5){ }}
    <div class="layui-elip">分享获取</div>
    {{# } }}
</script>

<!--状态-->
<script type="text/html" id="state">
    {{# if(d.state == 1){ }}
    <div class="layui-elip">已领取</div>
    {{# }else if(d.state == 2){ }}
    <div class="layui-elip">已使用</div>
    {{# }else if(d.state == 3){ }}
    <div class="layui-elip">已过期</div>
    {{# } }}
</script>

<!--面额-->
<script type="text/html" id="get_type">
    {{# if(d.type == 'reward'){ }}
    <div class="layui-elip">￥{{d.money}}</div>
    {{# }else if(d.type == 'discount'){ }}
    <div class="layui-elip">{{d.discount}}折</div>
    {{# } }}
</script>

<!--领取时间-->
<script type="text/html" id="fetch_time">
    {{ ns.time_to_date(d.fetch_time) }}
</script>

<!--使用时间-->
<script type="text/html" id="use_time">
    {{ ns.time_to_date(d.use_time) }}
</script>
{/block}
{block name="script"}
<script>
    var table = new Table({
        elem: '#member_coupon_list',
        filter: "member_coupon_list",
        url: ns.url("shop/member/memberCoupon"),
        where:{ member_id : "{$member_id}" },
        cols: [[{
            field: 'coupon_name',
            width: '14%',
            title: '优惠券名称',
            unresize : 'true'
        }, {
            field: 'coupon_code',
            width: '11%',
            title: '优惠码',
            unresize : 'true'
        }, {
            width: '10%',
            title: '面额',
            templet: '#types',
            unresize : 'true',
        }, {
            width: '10%',
            title: '获取方式',
            templet: '#get_type',
            unresize : 'true',
        }, {
            width: '10%',
            title: '状态',
            templet: '#state',
            unresize : 'true'
        }, {
            width: '15%',
            title: '领取时间',
            templet: '#fetch_time',
            unresize : 'true'
        }, {
            width: '15%',
            title: '结束时间',
            templet: '#end_time',
            unresize : 'true'
        }, {
            width: '15%',
            title: '使用时间',
            templet: '#use_time',
            unresize : 'true'
        }]],
    });
</script>
{/block}{extend name="base"/}
{block name="resources"}
{/block}
{block name="body"}
<div class="nc-table-box">
    <table id="member_coupon_list" lay-filter="member_coupon_list"></table>
</div>
<!--获取方式-->
<script type="text/html" id="get_type">
    {{# if(d.get_type == 1){ }}
    <div class="layui-elip">订单领取</div>
    {{# }else if(d.get_type == 2){ }}
    <div class="layui-elip">直接领取</div>
    {{# }else if(d.get_type == 3){ }}
    <div class="layui-elip">获取领取</div>
    {{# }else if(d.get_type == 4){ }}
    <div class="layui-elip">转赠</div>
    {{# }else if(d.get_type == 5){ }}
    <div class="layui-elip">分享获取</div>
    {{# } }}
</script>

<!--状态-->
<script type="text/html" id="state">
    {{# if(d.state == 1){ }}
    <div class="layui-elip">已领取</div>
    {{# }else if(d.state == 2){ }}
    <div class="layui-elip">已使用</div>
    {{# }else if(d.state == 3){ }}
    <div class="layui-elip">已过期</div>
    {{# } }}
</script>

<!--面额-->
<script type="text/html" id="types">
    {{# if(d.type == 'reward'){ }}
    <div class="layui-elip">￥{{d.money}}</div>
    {{# }else if(d.type == 'discount'){ }}
    <div class="layui-elip">{{d.discount}}折</div>
    {{# } }}
</script>

<!--领取时间-->
<script type="text/html" id="fetch_time">
    {{ ns.time_to_date(d.fetch_time) }}
</script>

<!--使用时间-->
<script type="text/html" id="use_time">
    {{ ns.time_to_date(d.use_time) }}
</script>

<!--结束时间-->
<script type="text/html" id="end_time">
    {{ ns.time_to_date(d.end_time) }}
</script>
{/block}
{block name="script"}
<script>
    var table = new Table({
        elem: '#member_coupon_list',
        filter: "member_coupon_list",
        url: ns.url("shop/member/memberCoupon"),
        where:{ member_id : "{$member_id}" },
        cols: [[{
            field: 'coupon_name',
            width: '14%',
            title: '优惠券名称',
            unresize : 'true'
        }, {
            field: 'coupon_code',
            width: '11%',
            title: '优惠码',
            unresize : 'true'
        }, {
            width: '10%',
            title: '面额',
            templet: '#types',
            unresize : 'true',
        }, {
            width: '10%',
            title: '获取方式',
            templet: '#get_type',
            unresize : 'true',
        }, {
            width: '10%',
            title: '状态',
            templet: '#state',
            unresize : 'true'
        }, {
            width: '15%',
            title: '领取时间',
            templet: '#fetch_time',
            unresize : 'true'
        }, {
            width: '15%',
            title: '结束时间',
            templet: '#end_time',
            unresize : 'true'
        }, {
            width: '15%',
            title: '使用时间',
            templet: '#use_time',
            unresize : 'true'
        }]],
    });
</script>
{/block}